<h1>Index</h1>
<table>
  <tr>
    <th>Survey Date</th>
    <th>Confidence Level</th>
    <th>Difficulty of Material</th>
    <th>Notes</th>
    <th></th>
  </tr>

<% puts @survey_responses.inspect %>

<% @survey_responses.each do |survey_response| %>
  <tr>
    <td><%= survey_response.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%b %e, %Y") %></td>
    <td><%= survey_response.perceived_code_confidence %></td>
    <td><%= survey_response.material_difficulty_rating %></td>
    <td><%= survey_response.notes %></td>
    <td><%= link_to "Delete", survey_response_path(survey_response), data: { confirm: "Are you sure?" }, method: :delete %></td>
  </tr>
<% end %>
</table>
